<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvoHNTy6T59UTmR-tFwtMDqBC2dR4kyhw</string>
	<key>GCM_SENDER_ID</key>
	<string>389116954486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.edu.srmist.libmgmtftw</string>
	<key>PROJECT_ID</key>
	<string>lms10infy</string>
	<key>STORAGE_BUCKET</key>
	<string>lms10infy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389116954486:ios:4a2059eba23ea400369c57</string>
</dict>
</plist>